.logo-container {
  display: flex;
}

.logo-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: currentColor;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-distance:not(:last-child) {
  margin-right: 30px;
}

.logo-icon {
  fill: currentColor;
}

.logo-icon-box:hover,
.logo-icon-box:focus {
  color: var(--action-color);
}

.customers-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-conta:nth-child(2) {
  width: 40px;
  height: 52px;
}
