.logo-container {
  display: flex;
}

.logo-container-__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: currentColor;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-container__distance:not(:last-child) {
  margin-right: 30px;
}

.logo-icon {
  fill: currentColor;
}

.logo-container-__link:hover,
.logo-container-__link:focus {
  color: var(--action-color);
}

.customers__title {
  margin-bottom: 50px;

  @include font(none, 36px, 1.16, 0.03em);
  font-size: 36px;
}

.logo-conta:nth-child(2) {
  width: 40px;
  height: 52px;
}
