.footer-links {
  text-align: start;
  display: inline-block;
  margin-left: 70px;
  margin-bottom: 40px;
  width: 206px;
  height: 80px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.icon-flex-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer-links__title {
  @include font(bold, 16px, 1.14, 0.03em);

  text-transform: uppercase;

  color: var(--primary-bg-color);
}

.icon-flex-box__icon {
  width: 20px;
  height: 20px;
  display: flex;
  background-position: center;
  fill: #ffffff;
}

.icon-flex-box__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--action-color);
  }
}

.icon-flex-box__icon .icon-flex-box__icon {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.icon-flex-box__li:not(:last-child) {
  margin-right: 10px;
}
