.hero {
  color: var(--primary-bg-color);
  background-color: var(--hero-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__box {
  min-width: 696px;
  margin-bottom: auto;
  margin-left: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
