.team-title,
.business-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-cards {
  display: flex;
  justify-content: center;
}

.team-cards .team-box:not(:last-child) {
  margin-right: 30px;
}

.team-box {
  width: 270px;
}

.team-title {
  margin-bottom: 50px;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-pos,
.project-description {
  color: var(--secondary-text-color);
}

.team-pos {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
