.team--container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__cards {
  display: flex;
  justify-content: center;
}

.team__cards .team__box:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  width: 270px;
}

.team__title {
  margin-bottom: 50px;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__name {
  @include font(500, 16px, 1.18, 0.03em);
  margin-bottom: 10px;
  text-align: center;
}

.team__pos,
.project-list__description {
  color: var(--secondary-text-color);
}

.team__pos {
  @include font(null, 16px, 1.18, 0.03em);
  text-align: center;
}
