.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--primary-bg-color);
  background-color: var(--action-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.modal__cross-button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 50%;
  background-color: #ffffff;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover {
    fill: var(--action-color);
  }
}

// Follow buttons

.follow-form__button {
  justify-content: center;
  outline: none;

  width: 200px;
  height: 50px;
  margin-left: 12px;

  @include font(bold, 16px, 1.87, 0.06em);
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: var(--primary-bg-color);
  background: var(--action-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-list .buttons-list__distance:not(:first-child) {
  margin-left: 8px;
}

.buttons-list__button {
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;

  @include font(500, 16px, 1.62, 0.03em);
  font-family: inherit;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--primary-bg-color);
    background-color: var(--action-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.modal-button {
  margin-top: 30px;
  padding: 10px 55px 10px 55px;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--primary-bg-color);
  background-color: var(--action-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  @include font(700, 16px, 1.8, 0.06em);
  cursor: pointer;
}
