.section {
  padding: 94px 0px 94px 0px;
}

.adv-section {
  padding-top: 94px;
}

.customers {
  text-align: center;
}

.follow-section {
  text-align: start;
  margin-left: 93px;
  margin-bottom: 40px;
  width: 570px;
  height: 86px;
}
