.body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.team-title,
.business__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
